parameters:
        twitter.consumer_key: ""
        twitter.consumer_secret: ""
        twitter.oauth_token: ""
        twitter.oauth_secret: ""
        mongodb_uri: ""
        mongodb_database: "twitter"
        rabbit_host: ""
        rabbit_port: ""
        rabbit_user: ""
        rabbit_pass: ""
        rabbit_vhost: ""
